@use './partials/variables' as *;

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';

@import 'bootstrap/scss/bootstrap';

body{
    background-color: rgb(212, 120, 54);
    color: black;
}

img {
    max-width: 100%;
}

.vz-card-body{
    height: 230px;
    padding: 20px 25px;
}